Problem Statement No. 02
Perform the following operations on Age-Income dataset (Age-Income-Dataset.csv)
Provide summary statistics (mean, median, minimum, maximum, standard deviation) for numeric variables with and
without using any library functions.
Provide summary statistics of income grouped by the age groups. Create a list that contains a numeric value for each
response to the categorical variable.

In [3]:
import pandas as pd
import seaborn as sns

In [11]:
df = pd.read_excel('data/Age-Income-Dataset.xlsx')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Age     50 non-null     object
 1   Income  50 non-null     int64
dtypes: int64(1), object(1)
memory usage: 932.0+ bytes

In [14]:
df.head()

          Age  Income
0       Young   25000
1  Middle Age   54000
2         Old   60000
3       Young   15000
4       Young   45000

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 0 entries
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Age     0 non-null      int64
 1   Income  0 non-null      int64
dtypes: int64(2)
memory usage: 0.0 bytes

In [35]:
# without lib. func!
num = df['Income']
num = sorted(num)

print("min = ", num[0])
print("max = ", num[-1])

# median & mean
n = len(num)
mean = sum(num) / n
print("mean = ", mean)

if n % 2 == 0:
    median = (num[(n // 2)] + num[(n // 2) - 1]) / 2
else:
    median = num[n // 2]

print("median = ", median)

# mode
mode = None
m = 0
for i in set(num):
    count = num.count(i)
    if count >= m:
        mode = i
        m = count
print("mode = ", mode)

s = 0
for i in num:
    s += (i - mean) ** 2

std_dev = (s / n) ** 0.5
print("Standard Deviation =", std_dev)

min =  15000
max =  93000
mean =  50966.0
median =  46850.0
mode =  23000
Standard Deviation = 20884.6509187968

In [36]:
# With lib. func!
print("mean = ", df['Income'].mean())
print("mode = ", df['Income'].mode())
print("median = ", df['Income'].median())
print("stc dev = ", df['Income'].std(ddof=0))

mean =  50966.0
mode =  0    23000
1    25600
2    45000
3    65400
4    80000
Name: Income, dtype: int64
median =  46850.0
stc dev =  20884.6509187968

In [38]:
print(df.head())

          Age  Income
0       Young   25000
1  Middle Age   54000
2         Old   60000
3       Young   15000
4       Young   45000

In [61]:
grouped = df.groupby('Age')['Income'].describe()
l = grouped.values.tolist()
print(l)

[[15.0, 52453.333333333336, 20497.800114251517, 25600.0, 36900.0, 53200.0, 61200.0, 93000.0], [19.0, 53942.10526315789, 20868.165968220423, 24500.0, 38700.0, 45300.0, 71400.0, 89700.0], [16.0, 46037.5, 22356.859499193233, 15000.0, 28750.0, 41500.0, 65850.0, 87000.0]]