Problem Statement No. 07
Perform the following operations using Python on any open source dataset.
1. Import all the required Python Libraries.
2. Load the Dataset into pandas data frame.
4. Data Preprocessing: check for missing values in the data to get some initial statistics. Provide variable descriptions.
Types of variables etc. Check the dimensions of the data frame.
5. Data Formatting and Data Normalization: Summarize the types of variables by checking the data types (i.e.,
character, numeric, integer, factor, and logical) of the variables in the data set. If variables are not in the correct data
type, apply proper type conversions.
6. Turn categorical variables into quantitative variables in Python. In addition to the codes and outputs, explain every
operation that you do in the above steps and explain everything that you do to import/read/scrape the data set.
Use NBA.CSV, Dirtydata.csv

In [11]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder

In [12]:
df = pd.read_csv("data/nba.csv")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 458 entries, 0 to 457
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Name      457 non-null    object
 1   Team      457 non-null    object
 2   Number    457 non-null    float64
 3   Position  457 non-null    object
 4   Age       457 non-null    float64
 5   Height    457 non-null    object
 6   Weight    457 non-null    float64
 7   College   373 non-null    object
 8   Salary    446 non-null    float64
dtypes: float64(4), object(5)
memory usage: 32.3+ KB

In [13]:
print("dimension = ", df.shape)
print("null vals = ", df.isnull().sum())

dimension =  (458, 9)
null vals =  Name         1
Team         1
Number       1
Position     1
Age          1
Height       1
Weight       1
College     85
Salary      12
dtype: int64

In [14]:
df.head()

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0

In [15]:
le = LabelEncoder()
df['Position'] = le.fit_transform(df['Position'])
df['Position'].unique()

array([2, 3, 4, 1, 0, 5])

In [16]:
df.describe()

           Number    Position         Age      Weight        Salary
count  457.000000  458.000000  457.000000  457.000000  4.460000e+02
mean    17.678337    2.078603   26.938731  221.522976  4.842684e+06
std     15.966090    1.412023    4.404016   26.368343  5.229238e+06
min      0.000000    0.000000   19.000000  161.000000  3.088800e+04
25%      5.000000    1.000000   24.000000  200.000000  1.044792e+06
50%     13.000000    2.000000   26.000000  220.000000  2.839073e+06
75%     25.000000    3.000000   30.000000  240.000000  6.500000e+06
max     99.000000    5.000000   40.000000  307.000000  2.500000e+07